@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-gradient-background {
        background: rgb(0,9,48);
        background: linear-gradient(0deg, rgba(0,9,48,1) 85%, rgba(0,9,48,0) 100%);
    }
}

@font-face {
    font-family: 'Familjen Grotesk';
    src: url('@/assets/fonts/FamiljenGrotesk.ttf') format('truetype');
}